//variables
$primary-font-stack: Press Start 2P, cursive;
$secondary-font-stack:monospace, Arial, Helvetica, sans-serif;
$primary-font-color: #f0ff1d;
$secondary-font-color: #ffffff;
$bg-color: #1bafdb;
$text-shadow-color: 4px 0px black;
$bg-img: url('Assets/R.png');
$margin-left:auto;
$margin-right:auto;
$text-align: center;
$cursor: pointer;