@import "config";
@import "btnConfig";
@import "scoreboard";
@import "startScreen";

body{
    color: $secondary-font-color;
    background-image: url('Assets/R.png');
}

nav{
    font-family: $primary-font-stack;
    color: $primary-font-color;
    background-color: $primary-bg-color;
    text-shadow: $text-shadow-color;
    padding: 5px;
    margin-left:auto;
    margin-right: auto;
    text-align: center;
}